<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="W_FtLLTynqNwMx5nIh_QU3Ajnl_Bi575wl3RciLnH98" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script src="https://unpkg.com/vue"></script>
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>

    <div id="app">
      <div class="section hero is-primary">
        <div class="hero-body">
          <h1 class="title">What is their time?</h1>
          <p class="subtitle">
            Ever wonder what is the time on another timezone in 3 hours?
            <strong>Me neither.</strong>
          </p>
        </div>
        <div class="hero-body">
          <h2 class="title">How to use?</h2>
          <ol>
            <li>
              Choose the date and time you want to compare in the input box
              below.
            </li>
            <li>Add the timezone to compare.</li>
          </ol>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <datetime type="datetime" v-model="sourceDatetime"></datetime>
        </div>

        <div class="container">
          <button v-on:click="addTimebox" class="button is-primary">
            New Timezone
          </button>

          <timebox
            v-bind:time="sourceDatetime"
            v-for="id in timeboxCount"
            v-bind:key="id"
          ></timebox>
        </div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
